

doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body
    h2 Applicant
    .table-wrapper
      table.fl-table
        thead
          tr
            th Position
            th Name
            th Eamil
            th Level
            th Experience
            th Expected salary
            th Portfolio links
            th Resume link
          
        
        tbody
          tr
            td Content 1
            td c2
            td c2
            td c2
            td c2
            td c2
            td c2
            td c2
          
        

     
    
  